<div id="main">
<div id="header">
<p><%=image_tag('t1.png')%> Welcome to My Twitter Clone app</p>
</div>
<div id="content">
<h1>Editing Tweet<%=image_tag('t.png')%></h1>

<%= render 'form', t_clone: @t_clone %>
</div>
<div id="footer">&copy copyright peter yves</div>
</div>