<div id="main">
<div id="header">
<p>Welcome to My Twitter Clone app</p>
</div>
<div id="content">
<h1>New Tweet</h1>

<%= render 'form', t_clone: @t_clone %>
</div>
<div id="footer">&copy copyright peter yves</div>
</div>
